@model IEnumerable<DaVinciGlobal.Models.Sensor>

@{
    ViewData["Title"] = "Sensores";
}

<h1>Sensores</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SensorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SensorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.SensorId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
