@model IEnumerable<DaVinciGlobal.Models.Relatorio>

@{
    ViewData["Title"] = "Relatórios";
}

<h1>Relatórios</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperaturaMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperaturaMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperaturaMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sensor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperaturaMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperaturaMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperaturaMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensor.Localizacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RelatorioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.RelatorioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.RelatorioId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
