@model DaVinciGlobal.Models.ImagemCoral

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Imagem de Coral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaminhoImagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaminhoImagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCoral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCoral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ImagemCoralId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
