@model IEnumerable<DaVinciGlobal.Models.ImagemCoral>

@{
    ViewData["Title"] = "Imagem";
}

<h1>Upload de Imagem</h1>

<p>
    <a asp-action="Create">Analisar imagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaminhoImagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCoral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaminhoImagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCoral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImagemCoralId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ImagemCoralId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ImagemCoralId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
